.portal {
	&-stars {
		fill: var(--primary-50);
		position: absolute;

		@keyframes glint {
			to {
				opacity: 0.3;
				transform: scale3d(0.3, 0.3, 0.3);
			}
		}

		path {
			animation-name: glint;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			transform-origin: center;
			transform-box: fill-box;
		}

		//setup glint animation
		@for $i from 1 through 10 {
			path:nth-of-type(#{$i}) {
				animation-duration: 1 + random(2) + s;
				animation-delay: $i + random(10) + s;
			}
		}
	}
}
