@import 'portal', 'stars';

.circle-planet {
	//circles config
	$shadeOrder: ('500', '300', '200', '100');

	$colors: ('primary', 'secondary', 'tertiary');

	$maxWidth: 70%;

	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;

	span {
		aspect-ratio: 1/1;
		border-radius: 100vmax;
		display: block;
		pointer-events: none;
		position: absolute;
	}

	&[data-animated='true'] {
		transition: transform 0.5s cubic-bezier(0.21, 0.17, 0.6, 1.04);
		transform: scale3d(0, 0, 0);

		@for $n from 1 through length($shadeOrder) {
			span:nth-child(#{$n}) {
				transition-delay: calc(($n - 1) / 10) + s;
			}
		}

		&[data-active='true'] {
			transform: scale3d(1, 1, 1);
		}
	}

	@each $color in $colors {
		&[data-color='#{$color}'] {
			@for $n from 1 through length($shadeOrder) {
				span:nth-child(#{$n}) {
					background-color: var(--#{$color}-#{nth($shadeOrder, $n)});
					width: calc(#{$maxWidth} - #{$n * 10%});
				}
			}
		}
	}
}
