@import 'tailwindcss';

html {
	scroll-behavior: smooth;
}

@theme {
	/* COLORS - Primary */
	--color-primary-900: #361000;
	--color-primary-800: #802600;
	--color-primary-700: #b23500;
	--color-primary-600: #e94b00;
	--color-primary-500: #ff5702;
	--color-primary-400: #ff762a;
	--color-primary-300: #ff8845;
	--color-primary-200: #ffa673;
	--color-primary-100: #ffb992;
	--color-primary-50: #ebdfdf;

	/* COLORS - Secondary */
	--color-secondary-900: #1d3e3b;
	--color-secondary-800: #2e615b;
	--color-secondary-700: #47988e;
	--color-secondary-600: #61cdc3;
	--color-secondary-500: #71dfd5;
	--color-secondary-400: #8de5de;
	--color-secondary-300: #a1e8e1;
	--color-secondary-200: #bceeea;
	--color-secondary-100: #cff3f0;
	--color-secondary-50: #e6f9f6;

	/* COLORS - Tertiary */
	--color-tertiary-900: #2d2343;
	--color-tertiary-800: #3d305a;
	--color-tertiary-700: #574380;
	--color-tertiary-600: #6f56a4;
	--color-tertiary-500: #7b5fb4;
	--color-tertiary-400: #957fc3;
	--color-tertiary-300: #a694cd;
	--color-tertiary-200: #c2b5dd;
	--color-tertiary-100: #d5cde8;
	--color-tertiary-50: #f1eff8;

	/* COLORS - Base */
	--color-base-900: #12141b;
	--color-base-800: #181a23;
	--color-base-700: #1f212d;
	--color-base-600: #272b3a;
	--color-base-500: #2b2f40;
	--color-base-400: #555966;
	--color-base-300: #71747f;
	--color-base-200: #9d9fa7;
	--color-base-100: #bdbfc4;
	--color-base-50: #eaeaec;
	--color-base-0: #ffffff;

	/* COLORS - Warning */
	--color-warning-900: #665e16;
	--color-warning-800: #867a1d;
	--color-warning-700: #ad9e26;
	--color-warning-600: #decc30;
	--color-warning-500: #f6e233;
	--color-warning-400: #f7e75c;
	--color-warning-300: #f9ec76;
	--color-warning-200: #fbf1a0;
	--color-warning-100: #fcf6bf;
	--color-warning-50: #fefbea;

	/* COLORS - Success */
	--color-success-900: #3a6410;
	--color-success-800: #4c8315;
	--color-success-700: #62a91b;
	--color-success-600: #7ed923;
	--color-success-500: #8aed26;
	--color-success-400: #a1f151;
	--color-success-300: #b1f46e;
	--color-success-200: #c9f79b;
	--color-success-100: #dbfabc;
	--color-success-50: #f3fde9;

	/* COLORS - Error */
	--color-error-900: #65120c;
	--color-error-800: #841710;
	--color-error-700: #aa1e15;
	--color-error-600: #da261a;
	--color-error-500: #f02a1d;
	--color-error-400: #f3554a;
	--color-error-300: #f57068;
	--color-error-200: #f89d97;
	--color-error-100: #fabdb9;
	--color-error-50: #feeae8;

	/* COLORS - Information */
	--color-information-900: #254a56;
	--color-information-800: #306171;
	--color-information-700: #3e7e92;
	--color-information-600: #50a1bb;
	--color-information-500: #58b1cd;
	--color-information-400: #79c1d7;
	--color-information-300: #8fcbde;
	--color-information-200: #b2dbe8;
	--color-information-100: #cbe7f0;
	--color-information-50: #eef7fa;

	/* SPACING */
	--spacing-0: 0;
	--spacing-3: 0.1875rem;
	--spacing-6: 0.375rem;
	--spacing-12: 0.75rem;
	--spacing-24: 1.5rem;
	--spacing-32: 2rem;
	--spacing-48: 3rem;
	--spacing-64: 4rem;
	--spacing-96: 6rem;
	--spacing-128: 8rem;
	--spacing-160: 10rem;

	/* FONTS */
	--font-jetbrains: 'JetBrains Mono', monospace;
	--font-roundo: 'Roundo', sans-serif;

	/* FONT SIZES */
	--text-10: 0.625rem;
	--text-12: 0.75rem;
	--text-14: 0.875rem;
	--text-base: 1rem;
	--text-20: 1.25rem;
	--text-25: 1.56rem;
	--text-36: 2.25rem;
	--text-48: 3rem;
	--text-64: 4rem;
	--text-75: 4.6875rem;
	--text-96: 6rem;
	--text-152: 9.5rem;
	--text-clamp-stack: clamp(1.6875rem, 0.9183rem + 1.2019vw, 2rem);
	--text-clamp-ten: clamp(26.25rem, -4.5192rem + 48.0769vw, 38.75rem);
	--text-clamp-h1: clamp(6.75rem, -0.0192rem + 10.5769vw, 9.5rem);
	--text-clamp-h2: clamp(4.75rem, 1.6731rem + 4.8077vw, 6rem);

	/* BORDER RADIUS */
	--radius-none: 0;
	--radius-6: 0.375rem;
	--radius-12: 0.75rem;
	--radius-24: 1.5rem;
	--radius-32: 2rem;
	--radius-full: 5.375rem;

	/* LEADING & TRACKING */
	--leading-22: 1.375rem;
	--tracking-tighter: -0.375rem;

	/* BREAKPOINTS */
	--breakpoint-2xl: 1440px;

	/* ASPECT RATIO */
	--aspect-portal: 53/74;

	/* ANIMATIONS */
	--animate-shake: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate;
	--animate-marquee: marquee 20s linear infinite;
	--animate-float: float 2s ease-in-out infinite alternate;

	@keyframes shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}
		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}
		30%,
		50%,
		70% {
			transform: translate3d(-3px, 0, 0);
		}
		40%,
		60% {
			transform: translate3d(3px, 0, 0);
		}
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - 12px));
		}
	}

	@keyframes float {
		from {
			transform: translate3d(0, 0, 0);
		}
		to {
			transform: translate3d(0, 50px, 0);
		}
	}
}

* {
	box-sizing: border-box;
	@apply outline-primary-200;
}

@layer base {
	h1,
	h3 {
		font-family: var(--font-jetbrains);
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}
}

@layer components {
	.text-stroke-primary {
		-webkit-text-stroke: 1px var(--color-primary-500);
	}

	.text-stroke-secondary {
		-webkit-text-stroke: 1px var(--color-base-400);
	}

	.primary.planet-portal {
		clip-path: circle(72% at 1% 130%);
	}

	.primary.planet-portal span:first-child {
		clip-path: circle(64% at 1% 130%);
	}

	.primary.planet-portal span:nth-child(2) {
		clip-path: circle(56% at 1% 130%);
	}

	.primary.planet-portal span:last-child {
		clip-path: circle(48% at 1% 130%);
	}

	.secondary.planet-portal {
		clip-path: circle(69% at 100% 0);
	}

	.secondary.planet-portal span:first-child {
		clip-path: circle(61% at 100% 0);
	}

	.secondary.planet-portal span:nth-child(2) {
		clip-path: circle(54% at 100% 0);
	}

	.secondary.planet-portal span:last-child {
		clip-path: circle(47% at 100% 0);
	}

	.prose-project p + p {
		margin-top: 1em;
	}

	.stack-container::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 40%;
		background-image: linear-gradient(
			180deg,
			rgb(24 26 35 / 1) 0%,
			rgb(24 26 35 / 0.5) 22%,
			transparent 62%
		);
		z-index: 2;
	}

	.stack-container::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 40%;
		background-image: linear-gradient(
			360deg,
			rgb(24 26 35 / 1) 0%,
			rgb(24 26 35 / 0.5) 22%,
			transparent 62%
		);
		z-index: 2;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.clip-bg,
	.clip-bg span,
	.clip-bg span:before,
	.clip-bg span:after {
		position: absolute;
		inset: 0;
		display: block;
		height: 100%;
		width: 100%;
	}

	.clip-bg span:before,
	.clip-bg span:after {
		content: '';
	}

	.clip-bg {
		clip-path: circle(81% at 50% 0);
		z-index: -1;
	}

	.clip-bg span {
		clip-path: circle(75% at 50% 0);
		z-index: 2;
	}

	.clip-bg span:before {
		clip-path: circle(70% at 50% 0);
		z-index: 3;
	}

	.clip-bg span:after {
		clip-path: circle(65% at 50% 0);
		z-index: 4;
	}

	.clip-bg-secondary {
		background-color: var(--color-secondary-500);
	}

	.clip-bg-secondary span {
		background-color: var(--color-secondary-400);
	}

	.clip-bg-secondary span:before {
		background-color: var(--color-secondary-300);
	}

	.clip-bg-secondary span:after {
		background-color: var(--color-secondary-200);
	}

	.clip-bg-primary {
		background-color: var(--color-primary-500);
	}

	.clip-bg-primary span {
		background-color: var(--color-primary-400);
	}

	.clip-bg-primary span:before {
		background-color: var(--color-primary-300);
	}

	.clip-bg-primary span:after {
		background-color: var(--color-primary-200);
	}

	.clip-bg-tertiary {
		background-color: var(--color-tertiary-500);
	}

	.clip-bg-tertiary span {
		background-color: var(--color-tertiary-400);
	}

	.clip-bg-tertiary span:before {
		background-color: var(--color-tertiary-300);
	}

	.clip-bg-tertiary span:after {
		background-color: var(--color-tertiary-200);
	}

	.radialParticule {
		background: radial-gradient(
			75.19% 69.91% at 72% 50%,
			#11657b7d 0,
			rgb(17 123 111 / 4%) 52%,
			transparent 66%
		);
	}
}

:root {
	--radius-m: 24px;
	--radius-l: 32px;
	--stroke-xs: 3px;
	--stroke-xl: 24px;
	--pulse-z: 85px;
}

.grecaptcha-badge {
	display: none !important;
}

.demo-above-the-fold {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.demo-above-the-fold > * {
	flex: 1;
}

.three-scene-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	position: relative;
}

.portal-container {
	perspective: 100vw;
}

.portal-container * {
	transform-style: preserve-3d;
}

.portal-scene {
	border-radius: var(--radius-l);
}

.portal-scene:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: var(--radius-32);
	overflow: hidden;
	background: linear-gradient(315deg, var(--color-secondary-500) -150%, transparent 70%);
}

.portal-element-orange-stroke {
	position: absolute;
	box-sizing: border-box;
	width: 90%;
	height: 90.5%;
	display: block;

	border: 1px solid var(--color-primary-500);
	border-radius: var(--radius-32);

	clip-path: polygon(
		0 0,
		15% 0,
		14% 1px,
		85% 1px,
		85% 0,
		100% 0,
		100% 15%,
		calc(100% - 1px) 15%,
		calc(100% - 1px) 85%,
		100% 85%,
		100% 100%,
		85% 100%,
		85% 0,
		15% calc(100% - 1px),
		15% 100%,
		0 100%,
		0 85%,
		1px 85%,
		1px 15%,
		0 15%
	);
	transform: translateZ(25px);
	z-index: 2;
	animation-name: pulse;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.63, -0.01, 0.39, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@media (hover: none) and (pointer: coarse) {
	:root {
		--pulse-z: 50px;
	}
}

@keyframes pulse {
	to {
		transform: translateZ(var(--pulse-z));
	}
}

.portal-element-mehdinaut {
	position: absolute;
	width: 50%;
	transform: translate3d(0, -20px, 0) rotate3d(0, 0, 1, 3deg);
	animation-name: portal-float;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.63, -0.01, 0.39, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes portal-float {
	to {
		transform: translate3d(0, 10px, 0) rotate3d(0, 0, 1, -3deg);
	}
}

.portal-stars {
	fill: var(--color-primary-50);
	position: absolute;
}

.portal-stars[data-position='left'] {
	left: 25px;
	transform: translate3d(0, 0, -20px);
}

.portal-stars[data-position='bottom'] {
	transform: translate3d(0, 0, -50px);
	right: 25px;
	bottom: 25px;
}

.portal-stars[data-position='top'] {
	transform: translate3d(0, 0, -90px);
	top: 25px;
}

@keyframes glint {
	to {
		opacity: 0.3;
		transform: scale3d(0.3, 0.3, 0.3);
	}
}

.portal-stars path {
	animation-name: glint;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: center;
	transform-box: fill-box;
}

.portal-stars path:nth-of-type(1) {
	animation-duration: 3s;
	animation-delay: 2s;
}

.portal-stars path:nth-of-type(2) {
	animation-duration: 3s;
	animation-delay: 3s;
}

.portal-stars path:nth-of-type(3) {
	animation-duration: 3s;
	animation-delay: 7s;
}

.portal-stars path:nth-of-type(4) {
	animation-duration: 3s;
	animation-delay: 5s;
}

.portal-stars path:nth-of-type(5) {
	animation-duration: 3s;
	animation-delay: 10s;
}

.portal-stars path:nth-of-type(6) {
	animation-duration: 2s;
	animation-delay: 16s;
}

.portal-stars path:nth-of-type(7) {
	animation-duration: 3s;
	animation-delay: 14s;
}

.portal-stars path:nth-of-type(8) {
	animation-duration: 3s;
	animation-delay: 12s;
}

.portal-stars path:nth-of-type(9) {
	animation-duration: 2s;
	animation-delay: 19s;
}

.portal-stars path:nth-of-type(10) {
	animation-duration: 3s;
	animation-delay: 13s;
}

.portal-stack {
	position: absolute;
	fill: #fff;
}

.portal-stack[data-name='wordpress'] {
	transform: translate3d(20%, -330%, 10px);
	animation-name: float-stack-wordpress;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.63, -0.01, 0.39, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;
	transform-origin: 90% 20%;
}

@keyframes float-stack-wordpress {
	to {
		transform: translate3d(20%, -330%, 10px) rotate3d(1, 1, 1, -20deg);
	}
}

.portal-stack[data-name='react'] {
	transform: translate3d(50%, -120%, 10px);
	animation-name: float-stack-react;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.63, -0.01, 0.39, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 3s;
	transform-origin: 90% 20%;
}

@keyframes float-stack-react {
	to {
		transform: translate3d(50%, -120%, 10px) rotate3d(1, 1, 1, -20deg);
	}
}

.portal-stack[data-name='next'] {
	transform: translate3d(180%, -200%, 10px);
	animation-name: float-stack-next;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.63, -0.01, 0.39, 0.99);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;
	transform-origin: 90% 20%;
}

@keyframes float-stack-next {
	to {
		transform: translate3d(180%, -200%, 10px) rotate3d(1, 1, 1, -20deg);
	}
}
