---
import Container from '@components/Container.astro';

import { Scene } from '@components/react/ThreeScene/Scene';
---

<Container customClass="flex flex-col items-center justify-between gap-32 lg:flex-row-reverse">
    <div class="max-lg:w-full lg:flex-1">
        <h2 class="mb-12 text-36 tracking-tighter text-base-50">
            <span class="mr-[10px] inline-block bg-primary-500 px-[10px]"> 10 ans </span>
            d'expertise web
        </h2>
        <p class="mb-12 leading-6">
            Salut, moi c'est Mehdi,
            <br />
            Développeur web spécialisé en WordPress avec plus de 10 ans d'expérience. Mon expertise réside
            dans la création de{' '}
            <strong>sites WordPress sur mesure</strong>, conçus from scratch. Ma polyvalence
            technique, acquise à travers divers projets et environnements, me permet de fournir des
            solutions WordPress optimisées et parfaitement adaptées aux besoins de chaque client.
        </p>
        <p class="leading-6">
            Je combine mes compétences approfondies en WordPress avec une <strong
                >maîtrise avancée de JavaScript</strong
            > pour créer des sites web performants, évolutifs et faciles à maintenir
        </p>
    </div>
    <div class="max-lg:w-full max-lg:max-w-[464px] lg:flex-1">
        <div class="relative h-[530px] items-center justify-center lg:h-[80dvh]" data-active="true">
            <div
                class="absolute left-1/2 top-1/2 aspect-square max-h-[446px] w-full max-w-[446px] -translate-x-1/2 -translate-y-1/2 rounded-[50%] bg-secondary-500"
            >
                <span
                    class="absolute left-1/2 top-1/2 z-[1] h-[80%] w-[80%] -translate-x-1/2 -translate-y-1/2 rounded-[50%] bg-secondary-400"
                ></span>
                <span
                    class="absolute left-1/2 top-1/2 z-[2] h-[60%] w-[60%] -translate-x-1/2 -translate-y-1/2 rounded-[50%] bg-secondary-300"
                ></span>
                <span
                    class="absolute left-1/2 top-1/2 z-[3] h-[40%] w-[40%] -translate-x-1/2 -translate-y-1/2 rounded-[50%] bg-secondary-200"
                ></span>
            </div>
            <Scene client:visible />
        </div>
    </div>
</Container>
