---
import Container from '@components/Container.astro';
import { ErrorBoundary } from '@components/react/error-boundary';
import { Form } from '@components/react/Form';

import IconMail from '@svgs/mail.svg';
import ShapeH2 from '@svgs/shape-h2.svg';
---

<Container customClass="mt-64">
	<header class="mb-64 text-center">
		<h2
			class="text-14 text-primary-600 uppercase tracking-[0.15em] font-medium flex items-center justify-center gap-6 -translate-x-[14px]"
		>
			<ShapeH2 fill="currentColor" width="14" height="14" />
			Contact
		</h2>
		<h3
			class="mb-24 text-48 md:text-64 leading-[1.3em] tracking-tighter text-base-50 font-extralight -tracking-tighter]"
		>
			Prêt pour ton prochain projet ?
		</h3>
		<p class="mb-32">
			Tu veux qu'on bosse ensemble ? Ou peut-être juste dire bonjour ? Utilise le formulaire !
		</p>
	</header>
	<div class="flex gap-24 justify-between">
		<address class="basis-1/3 max-md:hidden">
			<h4 class="text-25 text-base-50 tracking-[0.025em] not-italic mb-32">
				Information de contact
			</h4>
			<a href="mailto:hello@mcheniki.dev" class="mb-12 flex items-center gap-6">
				<IconMail width="20" height="16" fill="currentColor" />

				hello@mcheniki.dev
			</a>
		</address>
		<div class="basis-full md:basis-2/3">
			<ErrorBoundary client:only>
				<Form client:only />
			</ErrorBoundary>
		</div>
	</div>
</Container>
