---
import type { HTMLAttributes } from 'astro/types';
import { cva, type VariantProps } from 'class-variance-authority';

const styles = cva(
	'font-jetbrains text-base-0 font-bold flex items-center gap-6 justify-center disabled:opacity-75 disabled:pointer-events-none',
	{
		variants: {
			indent: {
				primary: [
					'rounded-full',
					'min-w-160',
					'w-fit',
					'px-24',
					'py-12',
					'bg-primary-500',
					'hover:bg-primary-400',
					'transition-colors',
					'duration-300',
				],
				secondary: [
					'rounded-full',
					'min-w-160',
					'w-fit',
					'px-24',
					'py-12',
					'bg-transparent',
					'border',
					'border-primary-500',
					'hover:border-primary-400',
					'transition-colors',
					'duration-300',
				],
				withIcon: ['hover:text-primary-400', 'transition-colors', 'duration-300'],
				disabled: [
					'rounded-full',
					'min-w-160',
					'w-fit',
					'px-24',
					'py-12',
					'bg-base-400',
					'text-base-200',
					'cursor-not-allowed',
				],
			},
		},
	},
);

export type CTAVariantProps = VariantProps<typeof styles>;

type Props = {
	url?: string;
	target?: '_blank' | 'self';
	disabled?: 'disabled';
	rel?: string;
} & HTMLAttributes<'button'> &
	VariantProps<typeof styles>;

const { url, target, disabled, rel, indent = 'primary' } = Astro.props;
---

{
	url ? (
		<a href={url} class={styles({ indent })} target={target} rel={rel}>
			<slot />
		</a>
	) : (
		<button
			class={styles({
				indent: disabled ? 'disabled' : indent,
			})}
			disabled={disabled}
		>
			<slot />
		</button>
	)
}
