---
import Cta from './Cta.astro';
import Container from './Container.astro';
import { Image } from 'astro:assets';
---

<header class="fixed left-0 top-0 flex w-full items-center justify-between py-24 bg-base-800 z-10">
	<Container customClass="flex items-center justify-between">
		<div class="flex items-center gap-12">
			<Image
				src="/images/avatar-face.webp"
				alt="Tête de l'avatar de Mehdi Cheniki"
				width={40}
				height={40}
			/>
			<p class="font-medium text-primary-500">Mehdi Cheniki</p>
		</div>

		<nav
			class="fixed left-0 top-0 z-10 h-screen w-full bg-base-800 transition-transform duration-300 ease-out md:h-auto translate-x-full md:relative md:w-auto md:translate-x-0"
			id="mainNav"
		>
			<ul
				class="flex flex-col gap-32 px-24 py-32 max-md:items-start md:flex-row md:items-center md:px-0 md:py-0"
			>
				<li>
					<Cta url="/#contact">Me contacter</Cta>
				</li>
			</ul>
		</nav>
		<button
			class="relative z-20 ml-auto h-[20px] w-32 md:hidden"
			id="menuButton"
			aria-label="Menu principal"
		>
			<div class="sr-only">Ouvrir le menu</div>
			<div
				aria-hidden="true"
				class="absolute top-0 h-[2px] w-full rounded-6 bg-base-0 transition duration-300 ease-out"
				id="line1"
			>
			</div>
			<div
				aria-hidden="true"
				class="absolute top-[calc(50%-1px)] h-[2px] w-full rounded-6 bg-base-0 transition duration-300 ease-out"
				id="line2"
			>
			</div>
			<div
				aria-hidden="true"
				class="absolute bottom-0 h-[2px] w-full rounded-6 bg-base-0 transition duration-300 ease-out"
				id="line3"
			>
			</div>
		</button>
	</Container>
</header>

<script>
	// Gestion du menu mobile
	const menuButton = document.getElementById('menuButton');
	const nav = document.getElementById('mainNav');
	const line1 = document.getElementById('line1');
	const line2 = document.getElementById('line2');
	const line3 = document.getElementById('line3');
	let isOpen = false;

	menuButton?.addEventListener('click', () => {
		isOpen = !isOpen;

		if (isOpen) {
			nav?.classList.remove('translate-x-full');
			nav?.classList.add('translate-x-1/4');
			line1?.classList.add('translate-y-[10px]', 'rotate-45');
			line2?.classList.add('opacity-0');
			line3?.classList.add('-translate-y-[8px]', '-rotate-45');
			menuButton.querySelector('.sr-only')!.textContent = 'Fermer le menu';
		} else {
			nav?.classList.remove('translate-x-1/4');
			nav?.classList.add('translate-x-full');
			line1?.classList.remove('translate-y-[10px]', 'rotate-45');
			line2?.classList.remove('opacity-0');
			line3?.classList.remove('-translate-y-[8px]', '-rotate-45');
			menuButton.querySelector('.sr-only')!.textContent = 'Ouvrir le menu';
		}
	});
</script>
