---
import Container from './Container.astro';
import { Portal } from './react/Portal/Portal';
---

<Container customClass="flex flex-col items-center justify-between gap-32 lg:flex-row">
	<div class="flex-1 grow-0 lg:basis-[50%]">
		<h1
			class="mb-12 text-64 font-bold uppercase italic leading-[0.9] tracking-[-0.12em] md:text-clamp-h1"
		>
			<span class="block text-primary-500">Mehdi</span>
			<span class="text-stroke-primary text-transparent">Cheniki</span>
		</h1>
		<p class="mb-24 text-25 font-semibold leading-9">
			Développeur web freelance
			<span class="block text-20 font-normal text-base-300"
				>WordPress full-stack • React • TypeScript</span
			>
		</p>
		<p class="text-20 leading-8">Sites WordPress de A à Z et applications React</p>
	</div>
	<div class="w-full max-w-[570px] flex-1 grow-0 lg:w-auto lg:basis-[570px]">
		<Portal client:visible />
	</div>
</Container>
