---
type Props = {
	nbrDuplicate?: number;
};

const { nbrDuplicate = 2 } = Astro.props;
---

<div class="flex -translate-x-3 -rotate-6 items-center gap-12" aria-hidden="true">
	{
		Array.from({ length: nbrDuplicate }).map(() => (
			<ul class="flex animate-marquee items-center gap-12 text-nowrap">
				<li>
					<slot />
				</li>
				<li>
					<slot />
				</li>
				<li>
					<slot />
				</li>
			</ul>
		))
	}
</div>
