---
import StackCard from './StackCard.astro';

import { type TechType } from './StackCard.astro';

type Props = {
	techList: TechType[];
	ariaHidden?: boolean;
	hideMobile?: boolean;
};

const { techList, ariaHidden = false, hideMobile = false } = Astro.props;
---

<ul
	class={`flex lg:flex-col gap-24${hideMobile === true ? ' max-lg:hidden' : ''}`}
	aria-hidden={ariaHidden}
>
	{
		techList.map((tech) => (
			<li class="flex-1">
				<StackCard tech={tech} />
			</li>
		))
	}
</ul>
