---
type AstroSVGComponent = (_props: astroHTML.JSX.SVGAttributes) => unknown;

export type TechType = {
	name: string;
	icon: AstroSVGComponent;
	color: 'primary' | 'secondary';
};

type Props = { tech: TechType };

const { tech } = Astro.props;
---

<div
	class={`${tech.color === 'primary' ? 'text-primary-500 border-primary-500' : 'text-secondary-500 border-secondary-500'} border  rounded-32 p-32 flex flex-col items-center justify-center gap-12 aspect-square max-lg:w-50`}
>
	<tech.icon width="50%" height="50%" fill="currentColor" />
	<p class="text-current text-clamp-stack text-center">
		{tech.name}
	</p>
</div>
