---
import Container from '@components/Container.astro';
import StackCard, { type TechType } from './StackCard.astro';
import StackList from './StackList.astro';

import IconJS from '@svgs/js.svg';
import IconPHP from '@svgs/php.svg';
import IconReact from '@svgs/react.svg';
import ShapeH2 from '@svgs/shape-h2.svg';
import IconWP from '@svgs/wp.svg';

const techs: TechType[] = [
	{
		name: 'WordPress',
		icon: IconWP,
		color: 'secondary',
	},
	{
		name: 'PHP',
		icon: IconPHP,
		color: 'primary',
	},
	{
		name: 'React',
		icon: IconReact,
		color: 'secondary',
	},
	{
		name: 'JavaScript',
		icon: IconJS,
		color: 'primary',
	},
];

const techs2: TechType[] = [
	{
		name: 'WordPress',
		icon: IconWP,
		color: 'primary',
	},
	{
		name: 'PHP',
		icon: IconPHP,
		color: 'secondary',
	},
	{
		name: 'React',
		icon: IconReact,
		color: 'primary',
	},
	{
		name: 'JavaScript',
		icon: IconJS,
		color: 'secondary',
	},
];
---

<Container>
	<div class="flex max-lg:flex-col gap-24 lg:gap-[10%] lg:items-center">
		<div class="flex-1">
			<header class="mb-32">
				<h2
					class="text-14 text-primary-600 uppercase tracking-[0.15em] font-medium flex items-center gap-6"
				>
					<ShapeH2 fill="currentColor" width="14" height="14" />
					Technique
				</h2>
				<h3
					class="mb-24 text-48 md:text-64 leading-[1.3em] tracking-tighter text-base-50 font-extralight -tracking-tighter]"
				>
					Une stack complète et adaptée
				</h3>
			</header>
			<p class="text-base text-base-0 lead">
				WordPress en full-stack (thèmes, plugins, back-end) pour les sites sur mesure, React
				pour les apps interactives. Une stack flexible qui s'adapte à chaque projet.
			</p>
		</div>
		<!-- Height ratio 772/1440 matches design mockup proportions -->
		<div
			class="flex-1 flex gap-24 h-[calc(100vw*772/1440)] max-h-[674px] 2xl:max-h-[772px] overflow-hidden relative stack-container max-lg:py-[18px] lg:pt-[18px]"
		>
			<!-- Negative translate positions cards to show bottom portion, creating infinite scroll illusion -->
			<div
				class="flex lg:flex-col gap-24 flex-1 lg:-translate-y-[79%] 2xl:-translate-y-[74%]"
			>
				{
					Array.from({ length: 2 }).map((_, i) => (
						<ul
							class="flex lg:flex-col gap-24 max-lg:animate-marquee max-lg:items-center max-lg:text-nowrap"
							aria-hidden={i > 0}
						>
							{techs.map((tech) => (
								<li class="flex-1">
									<StackCard tech={tech} />
								</li>
							))}
						</ul>
					))
				}
			</div>
			<div class="flex lg:flex-col gap-24 flex-1 max-lg:hidden">
				{
					Array.from({ length: 2 }).map(() => (
						<StackList techList={techs2.reverse()} ariaHidden={true} />
					))
				}
			</div>
		</div>
	</div>
</Container>
